<input type="text" name="name" id="office_name">

<!-- Rotas -->
<% tmp = @routes[1].group %>
<div class="row">
  <div class="col-6">
    <h5 onclick="selectGroupCheckboxRoutes('<%= @routes[1].group %>')" ><%= @routes[1].group %></h5>
    <% @routes.each do |route| %>
      <% if tmp != route.group %>
        <% tmp = route.group  %>
        </div>
        <div class="col-6">
          <h5 onclick="selectGroupCheckboxRoutes('<%= route.group %>')"><%= route.group %></h5>
      <% end %>
      <input type="checkbox" id="route<%= route.id %>" class="routes <%= route.group %>" value="<%= route.id %>"><label for="route<%= route.id %>"><%= route.name %></label><br>
    <% end %>
  </div>
</div>

<button onclick="getCheckboxRoute(cont, url, method)" class="btn btn-success">Salvar</button>

<script>
  $(document).ready(function(){
    cont = <%= @routes.length %>;
    url = "/offices";
    method = "post";

    <% if !@office.nil? %>
      $("#office_name").val("<%= @office.name %>");
      url = "/offices/<%= @office.id %>";
      method = "patch";

      // Check checkbox With Offices relating
		  office_relatings = [];

      selectCheckboxRoutes(office_relatings);
		<% end %>
  });
</script>