<!DOCTYPE html>
<html>
  <head>
    <title>BlueBank</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>




  <body>
    <div class="container">
      <% if employee_signed_in? %>
        <%= link_to destroy_employee_session_path, method: :delete, class: "btn btn-success" do %>
          Sair
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>