<div class="form-account">
  <label for="number">Número: </label>
  <input type="text" id="number">

  <label for="credit">Crédito: </label>
  <input type="text" id="credit">

  <label for="agency">Agency: </label>
  <input type="text" id="agency">


  <label for="client">CPF do Cliente: </label>
  <input type="text" id="client">

  <label for="password">Senha: </label>
  <input type="password" id="password">
</div>

<button onclick="submitAccount(url, method)">Salvar</button>

<script>
  url = "/accounts";
  method = "post";

  <% if !@client_cpf.nil? %>
    url = "/accounts/<%= @account.id %>";
    method = "patch";

    function loadParams(){
      params = [];
      params["number"] = "<%= @account.number %>";
      params["credit"] = "<%= @account.credit %>";
      params["agency"] = "<%= @account.agency %>";
      params["client"] = "<%= @account.cpf %>";

      return params;
    }

    loadAccountInformations(loadParams());
  <% end %>
</script>