<div class="form-account">
  <label for="number">Número: </label>
  <input type="text" id="number">

  <label for="credit">Crédito: </label>
  <input type="text" id="credit">

  <label for="account_type">Tipo de Conta: </label>
  <select id="account_type">
    <% @account_types.each do |account_type| %>
      <option value="<%= account_type.id %>"><%= account_type.name %></option>
    <% end %>
  </select>

  <select id="agency">
    <% @agencies.each do |agency| %>
      <option value="<%= agency.id %>"><%= agency.number %></option>
    <% end %>
  </select>

  <label for="client">CPF do Cliente: </label>
  <input type="text" id="client">

  <label for="password">Senha: </label>
  <input type="password" id="password">
</div>

<button onclick="submitAccount(url, method)">Salvar</button>

<script>
  url = "/accounts";
  method = "post";

  <% if !@client_cpf.nil? %>
    url = "/accounts/<%= @account.id %>";
    method = "patch";

    function loadParams(){
      params = [];
      params["number"] = "<%= @account.number %>";
      params["credit"] = "<%= @account.credit %>";
      params["agency"] = "<%= @account.agency.id %>";
      params["account_type"] = "<%= @account.account_type.id %>";
      params["client"] = "<%= @account.client.cpf %>";

      return params;
    }

    loadAccountInformations(loadParams());
  <% end %>
</script>